[Desktop Entry]
Type=Application
Exec=xmodmap -e 'pointer = 1 9 3 4 5 6 7 8 2'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=VX nano button remap
Name=mouse remapper
Comment[en_US]=remaps the top left (9) as middle mouse
Comment=remaps the top left as middle mouse
Comment[en_DK]=remaps the top left (9) as middle mouse (2)
